
body {
    background-color: #5f1103;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #9c7d8e;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}

main {
    text-align: center;
    max-width: 60%;
}

img {
    max-width: 60%;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}